@namespace HttpShare.Views.Home

@using HttpShare.Models
@using HttpShare.Controllers

@model LogInModel

@{
    Layout = "../_Layout";
}

@using (Html.BeginForm("UserLogIn", "User", null, FormMethod.Post, true, null))
{
    @Html.LabelFor(m => m.DisplayName, "Display name:")
    @Html.TextBoxFor(m => m.DisplayName)

    @Html.LabelFor(m => m.Password, "Password:")
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log In" />
}

@if (ViewData[UserController.ErrorsKey] != null)
{
    <div>
        <h2>Errors</h2>

        <ol>
            @{
                string[] errors = (string[])ViewData[UserController.ErrorsKey]!;

                foreach (string error in errors)
                {
                    <li>@error</li>
                }
            }
        </ol>
    </div>
}
